<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVT</title>
</head>
<body>

    <h1 style="color: turquoise;">Familiares</h1>

        <h2 style="color: turquoise;">{{familiar1.parentezco}}</h2>
        <p>
            <h3 style="color: blue;">Nombre/s: {{familiar1.nombre}}</h3>
        </p>
        <p>
            <h3 style="color: blue;">Apellido: {{familiar1.apellido}}</h3>
        </p>
        <p>
            <h3 style="color: blue;">Fecha de Nacimiento: {{familiar1.fechaDeNacimiento}}</h3>
        </p>
        <p>
            <h3 style="color: blue;">DNI: {{familiar1.dni}}</h3>
        </p>

        <h2 style="color: turquoise;">{{familiar2.parentezco}}</h2>
        <p>
            <h3 style="color: blue;">Nombre/s: {{familiar2.nombre}}</h3>
        </p>
        <p>
            <h3 style="color: blue;">Apellido: {{familiar2.apellido}}</h3>
        </p>
        <p>
            <h3 style="color: blue;">Fecha de Nacimiento: {{familiar2.fechaDeNacimiento}}</h3>
        </p>
        <p>
            <h3 style="color: blue;">DNI: {{familiar2.dni}}</h3>
        </p>

        <h2 style="color: turquoise;">{{familiar3.parentezco}}</h2>
        <p>
            <h3 style="color: blue;">Nombre/s: {{familiar3.nombre}}</h3>
        </p>
        <p>
            <h3 style="color: blue;">Apellido: {{familiar3.apellido}}</h3>
        </p>
        <p>
            <h3 style="color: blue;">Fecha de Nacimiento: {{familiar3.fechaDeNacimiento}}</h3>
        </p>
        <p>
            <h3 style="color: blue;">DNI: {{familiar3.dni}}</h3>
        </p>
        <p>
            <h3 style="color: blue;">Parentezco: {{familiar3.parentezco}}</h3>
        </p>

</body>
</html>